           <fieldset>
                <legend>Type</legend> 
                <label for="postalType">What type is your mail?</label>
                <select name="postalType" id="postalType">
                    <option id="stampedLetter" name="stampedLetter" value="1">First Class Letter-Stamped</option>
                    <option id="meteredLetter" name="meteredLetter" value="2">First Class Letter-Metered</option>
                    <option id="largeEnvelope" name="largeEnvelope" value="3">First Class Large Envelopes</option>
                    <option id="packageService" name="packageService" value="4">First Class Package Service-Retail</option>
                </select>
            </fieldset>
           