body {
  background-color: rgb(245, 235, 235);
  width: 50%;
  height: auto;
}
.jumbotron {
  background: #291844;
  color: white;
  padding-bottom: 80px; 
}
.jumbotron p {
color: #d9ccee;
max-width: 75%;
margin: 1em auto 2em; 
}
.navbar + .jumbotron {
margin-top: -20px; 
}
.navbar {

}
.nav {

}
h1 {
  background-color: rgb(255, 129, 71);
}  
h2 {
  background-color: rgb(255, 129, 71);
}
.postLabel {

}
.container {

}
.postalForm {

}
.postalSet {

}
legend {

}
#postalType {

}
#postalType.select {

}
.postalBtn {

}
.postalWeightGrp {
  display: none;
}
#postalWeight1 {
  display: none;
}
#postalWeight2 {
  display: none;
}
#priceDiv {

}
#pPrice {

}

