<!DOCTYPE html>
<html>
<head>
  <!-- <%- include('../partials/header'); %> -->
</head>
<body>
<div class="jumbotron">
  <h1>Postal Prices</h1>
  <h2>US First Class</h2>
</div>
<div class="container">
  <form id="postageInfo">
    <!-- <%- require('postage_type'); %>
    <%- require('postage_weight'); %> -->
    <button id="postageBtn" type="button">Find Price</button>
  </form>
</div>
<!-- <% stylesheet('/public/stylesheets/main.js') %>
<%- stylesheets %> -->
</body>
</html>