<!DOCTYPE html>
<html>
<head>
  <% include('../partials/header.ejs') %>
</head>
<body>
  <% include('../partials/nav.ejs') %>
  <div class="jumbotron">
    <h1>Postal Prices</h1>
    <h2>US First Class</h2>
  </div>
  <label for="postalDiv">Welcome to the First Class Postal Prices Calculator</label>
  <div id="postalDiv" class="container">
    <hr>
    <label for="askingForType" class="postalLabel">
      Please select an option from the list and press submit.</label>
      <form id="askingForType" class="postalForm">
        <fieldset class="postalSet">
            <legend>Type</legend> 
            <label for="postalType">What type is your mail?</label>
            <select name="postalType" id="postalType">
              <option autofocus
                id="stampedLetter"
                name="stampedLetter" value="1">First Class Letter-Stamped
              </option>
              <option 
                id="meteredLetter" name="meteredLetter" value="2">First Class Letter-Metered
              </option>
              <option 
                id="largeEnvelope"
                name="largeEnvelope" value="3">First Class Large Envelopes
              </option>
              <option 
                id="packageService" name="packageService" value="4">First Class Package Service-Retail
              </option>
            </select>
            <input type="button" id="typeBtn" name="typeBtn" value="Submit Type" class="postalBtn">
        </fieldset>
    </form>       
  </div>
  <br>
  <div id="weightDiv" name="weightDiv">
    <form id="weightForm" name="weightForm" class="postalForm">
      <fieldset id="weightSet" name="weightSet" class="postalSet">
        <legend>Weight</legend>
        <label for="postalWeight" class="postalLabel">How heavy is your mail? </label>
          <input type="number" id="postalWeight1" name="postalWeight" min="0" max="3.5" step=".5">
          <input type="number" id="postalWeight2" name="postalWeight" min="0" max="13" step="1">
          <button id="weightBtn" name="weightBtn">Get Price</button>
      </fieldset>
    </form>
  </div>
  <script src="./stylesheets/main.js"></script>
</body>
</html>